@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .elegant-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .elegant-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .elegant-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  .elegant-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
